.body {
  flex: 1;
  background-color: #f8f8f8;
  padding: 30px;
  text-align: center;
}

.search-bar {
  margin-bottom: 30px;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.restaurant-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
